.filter-carousel-item {
  background: white;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 18px;
  height: 60px;
  text-decoration: none;
  color: black;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.filter-carousel-item:hover {
  -webkit-box-shadow: 0 10px 0px rgba(0, 0, 0, 0.048);
  box-shadow: 0 6px 12px rgba(17, 16, 16, 0.055);
  cursor: pointer;
  position: absolute;
  z-index: 5;
}

.item-title {
  font-size: 0.9rem;
  font-weight: bold;
}


.item-link {
  color: #174151;
  text-align: center;
  font-size: 0.7rem;
  text-decoration: none;
  background-color: transparent;
}