<div class="container-fluid bgcontainer">
    <div class="container">
        <div class="row m-0 p-0">
            <div class="col-2"></div>
            <div class="col-7 float-left my-5">
                <div class="job-card custom-shadow">
                    <div class="header-container">
                        <div class="header-inner-container">
                            <div class="company-logo">
                            </div>
                            <header class="job-header">

                                <div class="company-info">
                                    <h3 class="company-title">Software Developer</h3>
                                    <div class="company-subtitle-container">
                                        <p class="company-subtitle">Marketopper Securities</p>
                                        <div class="company-rating">
                                            <span class="rating">4.7</span>
                                            <span class="line"></span>
                                            <span class="reviews">9 Reviews</span>
                                        </div>
                                    </div>

                                </div>
                            </header>
                        </div>

                        <button class="send-job-button">Apply job</button>

                    </div>


                    <div class="job-details">
                        <div class="job-details-container">
                            <div class="exp-container common-icon-container">
                                <i class="fa-solid fa-briefcase margin-right5"></i>
                                <p class="experience">3 - 5 years</p>
                            </div>
                            <span class="line"></span>
                            <div class="salary-container common-icon-container">
                                <i class="fa-solid fa-briefcase margin-right5"></i>
                                <p class="salary">8-12 Lacs P.A.</p>
                            </div>
                        </div>
                        <div class="location-container common-icon-container">
                            <i class="fa-solid fa-briefcase margin-right5"></i>
                            <p class="location">Gurgaon/Gurugram (Udyog Vihar)</p>
                        </div>

                    </div>
                    <div class="footer-container">
                        <div class="additional-info">
                            <p class="posted">Posted: 7 days ago</p>
                            <span class="separator"></span>
                            <p class="openings">Openings: 1</p>
                            <span class="separator"></span>
                            <p class="applicants">Applicants: 8740</p>
                        </div>


                        <div class="ul-container">
                            <ul class="jf-socialiconssimple m-0">
                                <li class="jf-sharejob"><span>Share this job</span></li>
                                <li class="jf-facebook"><a href="javascript:void(0);"><i
                                            class="fa fa-facebook-f"></i></a></li>
                                <li class="jf-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="jf-linkedin"><a href="javascript:void(0);"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                <li class="jf-clone"><a href="javascript:void(0);"><i class="far fa-clone"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="job-description custom-shadow">
                    <div class="description-content">
                        <p><strong>Job Description</strong></p>
                        <br>
                        <p>We are looking for a Software developer to determine database structural requirements by
                            analyzing client operations, responding to user questions, and resolving problems, with
                            basic T-SQL Concepts, SQL queries, creating table stored procedures, functions, views, DML,
                            DDL, indexing and optimization, writing complex SQL queries. Your primary responsibilities
                            will be to develop these applications as per the specified design and to coordinate with the
                            rest of the team working on different layers of the infrastructure. Therefore, a commitment
                            to problem-solving and quality products is essential.</p>
                        <br>
                        <p><strong>Responsibilities:</strong></p>
                        <p><br> Build and maintain efficient, reusable, and reliable T-SQL code.<br> Provide support to
                            the users of the software.<br> Ensure the best possible performance, quality, and
                            responsiveness of applications.<br> </p>
                        <p><strong>Must have Skills:</strong></p>
                        <p><br> T-SQL Concepts, SQL queries, creating table stored procedures, functions, views, DML,
                            DDL, indexing and optimization, writing complex SQL queries. Should be a team player<br>
                        </p>
                        <p><strong>Desired Skills:</strong><br> Knowledge of C# .NET and Asp.NET.<br> <br> </p>
                    </div>
                    <div class="other-details">
                        <div class="details">
                            <label class="label-details">Role:</label>
                            <span><a></a><span class="comma">Software Devloper</span></span>
                        </div>
                        <div class="details">
                            <label class="label-details">Industry Type: </label>
                            <span><a>Financial Services</a><span class="comma">,</span></span>
                        </div>
                        <div class="details">
                            <label class="label-details">Department: </label>
                            <span><a target="_blank">Engineering - Software &amp; QA</a><span
                                    class="comma">,</span></span>
                        </div>
                        <div class="details">
                            <label class="label-details">Employment Type: </label>
                            <span>Full Time, Permanent</span>
                        </div>
                        <div class="details">
                            <label class="label-details">Role Category: </label>
                            <span>Software Development</span>
                        </div>
                    </div>
                    <div class="">
                        <div class="heading">Education</div>
                        <div class="details">
                            <label class="label-details">UG: </label>
                            <span>B.Tech/B.E. in Electronics/Telecommunication, Computers, Electrical, BCA in
                                Computers</span>
                        </div>
                        <div class="details">
                            <label class="label-details">PG: </label>
                            <span>M.Tech in Electronics/Telecommunication, Computers, Electrical, MCA in
                                Computers</span>
                        </div>
                    </div>

                    <div class="skills-container">
                        <a class="skill-tag custom-shadow non-clickable">Ecma</a>
                        <a class="skill-tag custom-shadow clickable" href="https://www.naukri.com/mysql-jobs"
                            target="_blank">MySQL</a>
                        <a class="skill-tag custom-shadow clickable" href="https://www.naukri.com/java-script-jobs"
                            target="_blank">JavaScript</a>
                        <a class="skill-tag custom-shadow clickable" href="https://www.naukri.com/php-jobs"
                            target="_blank">PHP</a>
                        <a class="skill-tag custom-shadow clickable" href="https://www.naukri.com/shopify-jobs"
                            target="_blank">Shopify</a>
                        <a class="skill-tag custom-shadow non-clickable">Html/Css</a>
                    </div>
                    <ng-container *ngTemplateOutlet="cardfooter"></ng-container>
                </div>


            </div>
            <div class="col-3">

            </div>
        </div>

    </div>
</div>

<ng-template #cardfooter>

    <div class="footer-container" style="padding-top: 40px;">
        <button class="send-job-button" style="padding: 5px 36px; border-radius: 36px">Apply job</button>


        <div class="ul-container">
            <ul class="jf-socialiconssimple m-0">
                <li class="jf-sharejob"><span>Share this job</span></li>
                <li class="jf-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook-f"></i></a></li>
                <li class="jf-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="jf-linkedin"><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="jf-clone"><a href="javascript:void(0);"><i class="far fa-clone"></i></a></li>
            </ul>
        </div>
    </div>
</ng-template>