<!-- Page content -->
<div class=" gradient-box">
  <div class="container-fluid ">
    <div class="card">
      <div>
        <h3>FIND YOUR DREAM JOB!</h3>
        <h6 class="mb-2" style="font-style: italic">
          MORE THAN 300000+ STUDENTS ACHIEVED THEIR DREAM
        </h6>
      </div>
    </div>

    <div class="logo row my-5">
      <div class="col-2 job-card">
        <img
          src="assets/twit.png"
          height="50px"
          width="50px"
          class="card-img-top"
        />
      </div>
      <div class="col-2 job-card">
        <img
          src="assets/netflix.png"
          height="50px"
          width="50px"
          class="card-img-top"
        />
      </div>
      <div class="col-2 job-card">
        <img
          src="assets/facebook.png"
          height="50px"
          width="50px"
          class="card-img-top"
        />
      </div>
      <div class="col-2 job-card">
        <img
          src="assets/flipkart.png"
          height="50px"
          width="50px"
          class="card-img-top"
        />
      </div>
      <div class="col-2 job-card">
        <img
          src="assets/amazon.png"
          height="50px"
          width="50px"
          class="card-img-top"
        />
      </div>
      <div class="col-3 job-card">
        <img
          src="assets/google-logo.png"
          height="50px"
          width="50px"
          class="card-img-top"
        />
      </div>
      <div class="col-3 job-card">
        <img
          src="assets/linkdin.png"
          height="50px"
          width="50px"
          class="card-img-top"
        />
      </div>
      <div class="col-3 job-card">
        <img
          src="assets/microsoft.png"
          height="50px"
          width="50px"
          class="card-img-top"
        />
      </div>
      <div class="col-3 job-card">
        <img
          src="assets/apple.png"
          height="50px"
          width="50px"
          class="card-img-top"
        />
      </div>
      <div class="col-3 job-card">
        <img
          src="assets/zomato.png"
          height="50px"
          width="50px"
          class="card-img-top"
        />
      </div>
      <div class="col-2 job-card">
        <img
          src="assets/uber.png"
          height="50px"
          width="50px"
          class="card-img-top"
        />
      </div>
      <div class="col-2 job-card">
        <img
          src="assets/oyo.png"
          height="50px"
          width="50px"
          class="card-img-top"
        />
      </div>
      <div class="col-2 job-card">
        <img
          src="assets/samsung.png"
          height="50px"
          width="50px"
          class="card-img-top"
        />
      </div>
      <div class="col-2 job-card">
        <img
          src="assets/paytm.png"
          height="50px"
          width="50px"
          class="card-img-top"
        />
      </div>
    </div>
  </div>

  <div class="container content">
    <div class="row">
      <div class="col-md-6 my-5">
        <h3 class="pb">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-envelope"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"
            />
          </svg>
          Job Alert Emails
        </h3>

        <div>
          <p>
            Keep track of positions that you're interested in by signing up for
            job alert emails. You'll be notified via email when new jobs are
            posted in that search.
          </p>
        </div>
      </div>

      <div class="col-md-6 my-5">
        <h3 class="pb">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-clock"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"
            />
            <path
              d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"
            />
          </svg>
          Quick Apply
        </h3>

        <div>
          <p>
            Easily apply to multiple jobs with one click! Quick Apply shows you
            recommended jobs based off your most recent search and allows you to
            apply to 25+ jobs in a matter of seconds!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="stats-container">
      <div class="stats-grid">
        <div class="stat">
          <h3>300+</h3>
          <p>Companies Hiring</p>
        </div>
        <span class="divider"></span>
        <div class="stat">
          <h3>10K+</h3>
          <p>Jobs</p>
        </div>
        <span class="divider"></span>
        <div class="stat">
          <h3>50k+</h3>
          <p>Stippened</p>
        </div>
        <span class="divider"></span>
        <div class="stat">
          <h3>20K+</h3>
          <p>Placed Student</p>
        </div>
      </div>
    </div>
  </div>
</div>
