<section class="bannerArea02 " style="margin-top: -50px;">
    <div class="container custom-container01">
        <div class="row">
            <div class="col-lg-6 order-2 order-lg-0">
                <div class="bannerArea02__wrapper" data-aos="fade-right" data-aos-offset="500">
                    <h1 class="bannerArea02__title text-white">
                        Take your career to new heights with Naukri Chowk
                    </h1>
                    <p class="text-white">
                        Unlock boundless opportunities with Naukri Chowk's cutting-edge job platform!!
                    </p>
                    <div class="banner-button">
                        <a class="primary__button primary__button-bgPrimary top-left-border" href="contact.html">Get
                            a Free Design Consultation</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-0">
                <div class="bannerArea02__image" data-aos="fade-left" data-aos-delay="300" data-aos-offset="500">
                    <img src="../../../assets/homeassests/people-01.png" alt="banner-image" />
                </div>
            </div>
        </div>
        <div class="mask-group-home02">
            <img class="mask-home01 img-fluid" src="../../../assets/homeassests/backround-shape.png" alt="mask" />
            <img class="mask-home02 img-fluid" src="../../../assets/homeassests/layers-dot-2.png" alt="mask" />
        </div>
        <div class="small-feature small-feature01 shadow" data-aos="flip-left" data-aos-delay="700">
            <div class="small-feature-percentage d-flex align-items-center justify-content-center">
                <div class="image">
                    <img src="../../../assets/homeassests/top_arrow.svg" alt="Top Arrow" class="img-fluid" />
                </div>
                <h3>91%</h3>
            </div>
            <div class="small-feature-text">
                <p>More Conversations</p>
            </div>
        </div>
        <div class="small-feature small-feature02 shadow" data-aos="flip-left" data-aos-delay="1200">
            <div class="small-feature-percentage d-flex align-items-center justify-content-center">
                <div class="image">
                    <img src="../../../assets/homeassests/top_arrow.svg" alt="Top Arrow" class="img-fluid" />
                </div>
                <h3>237%</h3>
            </div>
            <div class="small-feature-text">
                <p>Revenue Stream Increase</p>
            </div>
        </div>
    </div>
</section>