<div class="main-container" >
    <div class="job-card pt-4">
        <div class="header">
            <div class="company-logo">
            </div>
            <div class="job-header">
                <div class="job-label">
                    <p class="common-color"> Internship</p>
                </div>
                <h3 class="job-title">Computer Hardware & Desktop Support Executive</h3>
                <p class="job-subtitle p-0 m-0">Soft And Hard Computer System</p>
            </div>
        </div>
        
        
        <div class="job-details">
            <div class="row mb-0 p-0">
                <div class="col-2 job-experience common-job-details">
                    <i class="fa-solid fa-briefcase"></i>
                    <p class="m-0 common-color">1-4 Yrs</p>
                </div>
    
                <div class="col-3 job-salary common-job-details">
                    <i class="fa-solid fa-briefcase"></i>
                    <p class="m-0 common-color">1.25-2.25 Lacs PA</p>
                </div>
    
                <div class="col-5 job-location common-job-details">
                    <i class="fa-solid fa-briefcase"></i>
                    <p class="m-0 common-color">New Delhi (Ambedkar Colony +39), Delhi / NCR</p>
                </div>
            </div>
    
        </div>
        <div class="job-description">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni sed architecto neque atque, molestiae minus deserunt magnam illo cum. Voluptatibus voluptates animi voluptatem adipisci dignissimos repellendus nisi molestias maiores aliquid quae, nam eum mollitia, molestiae voluptate illo dolore at repellat possimus! Maiores omnis quidem numquam, unde repudiandae id tempore magni!</p>
        </div>
        <div class="job-skills">
            <p>Hardware Networking</p>
            <p>Windows Installation</p>
            <p>Problem Resolution</p>
            <p>Software</p>
            <p>Windows 10</p>
            <p>Desktop support</p>
        </div>
        <div class="job-footer">
            <p class="m-0 posting-time">8 Days Ago</p>
        </div>
        <div class="fold"></div>
    </div>
</div>
